:root {
    --bg: #0b0b0b;
    --bg2: #101010;
    --gold: #c7a14a;
    --gold2: #D6B25E;
    --reservas: #A63A4A;
    --dia_a_dia: #B8BDC6;
    --text: #eaeaea;
    --muted: #b9b9b9;
    --stroke: rgba(199, 161, 74, .25);
}

/* Base */
body {
    background: var(--bg);
    color: var(--text);
}

.section-dark {
    padding: 90px 0;
    background: radial-gradient(circle at 30% 0%, rgba(199, 161, 74, .07), transparent 50%), var(--bg);
}

a {
    text-decoration: none
}


/* Buttons */
.btn-gold-cta {
    border: 1px solid rgba(199, 161, 74, .7);
    background: linear-gradient(180deg, rgba(199, 161, 74, .18), rgba(199, 161, 74, .08));
    color: var(--gold2);
    padding: 12px 22px;
    border-radius: 12px;
    transition: .25s;
}

.btn-gold-cta:hover {
    transform: translateY(-2px);
    box-shadow: 0 20px 50px rgba(199, 161, 74, .12);
    border-color: rgba(240, 208, 138, .9);
}

.btn-ghost-cta {
    border: 1px solid rgba(255, 255, 255, .14);
    color: rgba(255, 255, 255, .85);
    padding: 12px 22px;
    border-radius: 12px;
    transition: .25s;
}

.btn-ghost-cta:hover {
    border-color: rgba(240, 208, 138, .4);
    color: #fff;
    transform: translateY(-2px);
}