.cart-link {
    opacity: .95
}

.cart-badge {
    margin-left: 8px;
    border: 1px solid var(--stroke);
    padding: 2px 8px;
    border-radius: 99px;
    font-size: .8rem;
    color: var(--gold);
}